div.chatWelcome    2gis чат
    span.chatUsername

div.chatHistory

form.chatForm
    textarea
    button Отправить

div.chatLogin
    div
        b Введите, пожалуйста, логин
        br
        br
        input
        button Войти
        br
        br
        span.chatError
