div.chatWelcome    2gis чат
    span.chatUsername

div.chatCommon
    div.chatHistory
    div.chatUsers

div.chatForm
    textarea(placeholder="Для отправки сообщения в чат:\r\n - нажать CTRL+ENTER \r\n - кликнуть кнопку ниже")
    button Отправить
    span.chatError

div.chatLogin
    div
        b Введите, пожалуйста, логин
        br
        br
        input
        button Войти
        br
        br
        span.chatError
